@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

body{
    font-family: "proxima-nova-soft", "Arial Rounded", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
    position: relative;
}

#recomenats {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#top {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
