@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

body{
    font-family: "proxima-nova-soft", "Arial Rounded", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
    position: relative;
}

#cabecera{background-color: black;}
#logo{height: 50px; float: left;}

#navegador {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    letter-spacing: 4px;
    opacity:0.9;
}

#recomenats {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#top {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#results {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}

#search-form, .form-control {
    margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}